*{
    box-sizing: border-box;
}

body{
    background-image: url(/img.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px wheat;
    align-items: center;
    color: rgb(37, 3, 37);
    justify-content: center;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 1rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem ;
}